!!!
%html
  %head
    %title
      = yield(:title) || "AIT Environmental Technology"
    = stylesheet_link_tag "application", "styles"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  %body
    #bg2
      #bg3
        #header
          #buttons
            = link_to "Home", root_url, :class => "but"
            = link_to "Athletics", athletics_path, :class => "but"
            = link_to "Governmental", governments_path, :class => "but"
            = link_to "Educational", educations_path, :class => "but"
            = link_to "Commercial", commercials_path, :class => "but"
            = link_to "Residential", residentials_path, :class => "but"
          #logo
            = link_to "AIT Environmental Technology", root_path
            %h2 Providing Cost Effective Solutions for Improving Indoor Air Quality and Health
        #content
          #main
            #main_bot
              #main_top
                #right
                  %h1.tit_right1 Categories
                  %div.right_b
                    %div.munth
                      = link_to "Lorem ipsum"
                    %div.munth
                      = link_to "Cras ullamcorper"
                    %div.munth
                      = link_to "Praesent"
                    %div.munth
                      = link_to "Quisque"
                    %div.munth
                      = link_to "Sed venenatis enim"
                    %div.munth
                      = link_to "Nam dignissim"
                    %div.munth
                      = link_to "Vivamus"
                  %h1.tit_right2 Archives
                  %div.right_w.fish_10
                    %div.munth
                      = link_to "September 2010"
                    %div.munth
                      = link_to "August 2010"
                    %div.munth
                      = link_to "July 2010"
                    %div.munth
                      = link_to "June 2010"
                    %div.munth
                      = link_to "May 2010"
                    %div.munth
                      = link_to "April 2010"
                    %div.munth
                      = link_to "March 2010"
                    %div.munth
                      = link_to "February 2010"
                    %div.munth
                      = link_to "January 2010"
                #left
                  %h1 Company News
                  %div.box1
                    %div.left_b
                      %span.w Monday, Apr. 13, 2010
                      %br
                      Vivamus eget sapien elit. Nullam neque nisi, tempor ac bibendum nec, pulvinar non erat. Ut ut nisi a ante sagittis aliquam. Etiam dui...
                      %div.read
                        = link_to "read more"
                  %div.box2
                    %div.left_b
                      %span.w Sunday, Apr. 12, 2010
                      %br
                      Vivamus eget sapien elit. Nullam neque nisi, tempor ac bibendum nec, pulvinar non erat. Ut ut nisi a ante sagittis aliquam. Etiam dui...
                      %div.read
                        = link_to "read more"
                  %div.box3
                    %div.left_b
                      %span.w Saturday, Apr. 11, 2010
                      %br
                      Vivamus eget sapien elit. Nullam neque nisi, tempor ac bibendum nec, pulvinar non erat. Ut ut nisi a ante sagittis aliquam. Etiam dui...
                      %div.read
                        = link_to "read more"
                  %div.box4
                    %div.left_b
                      %span.w Friday, Apr. 10, 2010
                      %br
                      Vivamus eget sapien elit. Nullam neque nisi, tempor ac bibendum nec, pulvinar non erat. Ut ut nisi a ante sagittis aliquam. Etiam dui...
                      %div.read
                        = link_to "read more"
                #center
                  - flash.each do |name, msg|
                    = content_tag :div, msg, :id => "flash_#{name}"
                  %h1 AIT Environmental Technology
                  %div.text
                    %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin facilisis quam, eget mattis nulla adipiscing vel.
                  %div.text
                    = image_tag "img1.jpg", :class => "img", :width => "120", :height => "90", :alt => ""
                    Nullam magna purus, pharetra at tempor in, tristique at neque. Aenean pretium arcu sit amet nulla ultricies convallis consequat lectus tincidunt. Maecenas nibh risus, placerat eu luctus ac, bibendum id lacus. In posuere, urna at interdum varius, tortor dui interdum arcu, in ullamcorper mi felis sit...
                    %br
                    %div.read
                      = link_to "read more"
                    = yield
                  #all_col
                    %div.col_left
                %div{ :style => "clear: both;" }
                  = image_tag "spaser.gif", :width => "1", :height => "1"
        #footer
          %p Copyright &copy; 2010 AIT Environmental Technology
          %p{ :style => "color: #155384;" }
            Template by
            = link_to "Metamorphosis Design", "http://www.metamorphozis.com", :style => "color: #155384;"
